@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Michroma&display=swap');

.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vendor-name{
  font-family: 'Michroma', sans-serif;
  min-width: 500px;
}

.logout-text{
  font-family: 'Michroma', sans-serif;
}
.main-logo{
  
  font-family: 'Fredericka the Great', cursive;
}

.file-title{
  font-size: 30px;
}

.file-subtitle{
  font-size: 20px;
}